body {
    background-color:lightblue;
}

#title {
    text-align:center;
}

#start {
width:100px;
margin: 0 auto;
margin-top:300px;
text-align:center;
}
#start:hover {
    border: solid 10px black;
    background:yellow;
}

#timeRemain {
    text-align:center;
}

#answer1 {

}

#answer1:hover {
    background-color:yellow;
    width:50px;
}

#answer2 {

}

#answer2:hover {
    background-color:yellow;
    width:50px;
}

#answer3 {

}

#answer3:hover {
    background-color:yellow;
    width:50px;
}

#answer4 {

}

#answer4:hover {
    background-color:yellow;
    width:50px;
}










